body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 40px;
    font-weight: 500;
}
h3{
    font-size: 25px;
    font-weight: 500;
}
h4{
    font-weight: 400;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    text-align: left;
    margin-bottom: 80px;
    
    
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    padding: 5px 15px;
    border-radius: 10px;
    font-weight:500;
    

}
.link-button:hover{
    color: black;
}
.dream-area{
    background-image: url("images/dream-bg.png "  );
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 65px;
    height: 400px;
}
.experience-box{
    box-shadow: 10px 10px 20px gray;
}
#fullstack{
    border-left: 5px solid ;
    border-image: linear-gradient(180deg, lightsalmon,rgb(255, 42, 4));
    border-image-slice: 1;
}
#fontend{
    border-left: 5px solid ;
    border-image: linear-gradient(180deg, rgb(26, 11, 109),rgb(138, 173, 247));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}